<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDCVxWSs0yj1Lgexzw3AlXQn6ltKTd600s</string>
	<key>GCM_SENDER_ID</key>
	<string>829355920589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RegisForm.registrationform</string>
	<key>PROJECT_ID</key>
	<string>registrationform-36e69</string>
	<key>STORAGE_BUCKET</key>
	<string>registrationform-36e69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829355920589:ios:232bce45a4fb21ac376d84</string>
	<key>DATABASE_URL</key>
	<string>https://registrationform-36e69-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>